.table-content {
    border: 1px solid black;
    padding: 5px 5px 10px 5px;
    width: 90%;
    height: 300px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    /*overflow: auto;*/
}

.rTable {
    width: 100%;
    display: block;
}

.rTableRow {
    clear: both;
}

.rTableBody {
    /*display: table-row-group;*/
    display: block;
    width: 100%;
    overflow: auto;
    height: 253px;
}

.rTableHeading {
    /*display: table-header-group;*/
    display: block;
    width: 100%;
}

.rTableCell, .rTableHead {
    height: 40px;
    width: 19.70%;
    display: table-cell;
    border: 1px solid black;
    overflow: hidden;
    float: left;
}

.rTableHead {
    background-color: #999999;
    width: 19.27%;
}
